daemonium/*.o
daemonium/daemonium
tabularium/fabulatio_*.txt
tabularium/usores.txt
tabularium/spiritus_mail.log
*.log
**/*.log
tabularium/provisores/*/claves.txt
.env*
config.env
**/tmp_payload.txt
tmp/
.agent/


