# Search paths for HashLib4Pascal units
-FuHashLib4Pascal/HashLib/src/Base
-FuHashLib4Pascal/HashLib/src/Checksum
-FuHashLib4Pascal/HashLib/src/Crypto
-FuHashLib4Pascal/HashLib/src/Crypto/Blake2BParams
-FuHashLib4Pascal/HashLib/src/Crypto/Blake2SParams
-FuHashLib4Pascal/HashLib/src/Hash128
-FuHashLib4Pascal/HashLib/src/Hash32
-FuHashLib4Pascal/HashLib/src/Hash64
-FuHashLib4Pascal/HashLib/src/Include
-FuHashLib4Pascal/HashLib/src/Interfaces
-FuHashLib4Pascal/HashLib/src/Interfaces/IBlake2BParams
-FuHashLib4Pascal/HashLib/src/Interfaces/IBlake2SParams
-FuHashLib4Pascal/HashLib/src/KDF
-FuHashLib4Pascal/HashLib/src/NullDigest
-FuHashLib4Pascal/HashLib/src/Utils
-FuHashLib4Pascal/HashLib/src/Packages/FPC
